#pg-24-0 {
  background-repeat:repeat;
  border-style:none;
}
#pg-24-0 #pgc-24-0-0 .cs-panel { margin-bottom:40px; }
#pg-24-0 #pgc-24-0-0 .cs-panel:last-child { margin-bottom:0; }
#pg-24-0 .panel-row-style { align-items:flex-start; }
#pg-24-0:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-48-7e831086-a489-4fe8-87c9-27b70a73e9a6 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-48-29d86dfe-e91f-4f38-a4f2-83a5bf2f1ddb > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
  border-radius:6px 6px 6px 6px;
}
#panel-48-29d86dfe-e91f-4f38-a4f2-83a5bf2f1ddb > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#fc6a21;
}
#panel-48-41089e4f-2aa8-49d9-b9e6-38042f951931 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-48-41089e4f-2aa8-49d9-b9e6-38042f951931 > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-48-a850e737-781f-4901-b93e-94c09f888040 > .cs-widget-sow-editor-base > .global-element {
  background:transparent;
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home10/block-img-1.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-48-a850e737-781f-4901-b93e-94c09f888040 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-48-daaafd51-c0e4-44c2-878d-6c0679f24d1a > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
  border-radius:6px 6px 6px 6px;
}
#panel-48-daaafd51-c0e4-44c2-878d-6c0679f24d1a > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#fc6a21;
}
#panel-48-3aab409b-79fa-4d67-8fe1-ada2a828e37d > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-48-3aab409b-79fa-4d67-8fe1-ada2a828e37d > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-48-6b414d40-f993-4185-b981-aaec12aef2db > .cs-widget-sow-editor-base > .global-element {
  background:transparent;
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home10/block-img-2.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-48-6b414d40-f993-4185-b981-aaec12aef2db > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-48-83f3a65f-bd41-413c-9676-9adf236e17f9 > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
  border-radius:6px 6px 6px 6px;
}
#panel-48-83f3a65f-bd41-413c-9676-9adf236e17f9 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#fc6a21;
}
#panel-48-04ed5daa-1d3e-4f9d-ad80-53f3fe5ffea5 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-48-04ed5daa-1d3e-4f9d-ad80-53f3fe5ffea5 > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-48-3439efb9-44e8-47f2-862c-28ec22300878 > .cs-widget-sow-editor-base > .global-element {
  background:transparent;
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home10/block-img-3.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-48-3439efb9-44e8-47f2-862c-28ec22300878 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-48-1f2c925a-4b27-48b4-b86f-599967953ead > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
  border-radius:6px 6px 6px 6px;
}
#panel-48-1f2c925a-4b27-48b4-b86f-599967953ead > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#fc6a21;
}
#panel-48-69d97d7c-5698-45c3-99db-c5e5ddf6926a > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-48-69d97d7c-5698-45c3-99db-c5e5ddf6926a > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-48-ea716732-0529-4010-86dc-1e4eb13480d3 > .cs-widget-sow-editor-base > .global-element {
  background:transparent;
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home10/block-img-4.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-48-ea716732-0529-4010-86dc-1e4eb13480d3 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-48-9761019f-104e-484d-8377-3d5805ac09cd > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
  border-radius:6px 6px 6px 6px;
}
#panel-48-9761019f-104e-484d-8377-3d5805ac09cd > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#fc6a21;
}
#panel-48-306f4a38-2f82-4df9-a1a7-a8e72dbdf1ce > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-48-306f4a38-2f82-4df9-a1a7-a8e72dbdf1ce > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-48-c90f33f1-5300-4c73-9717-41366d421e74 > .cs-widget-sow-editor-base > .global-element {
  background:transparent;
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home10/block-img-5.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-48-c90f33f1-5300-4c73-9717-41366d421e74 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-48-40d24494-712a-4651-84cb-2d8d02c18b6b > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
  border-radius:6px 6px 6px 6px;
}
#panel-48-40d24494-712a-4651-84cb-2d8d02c18b6b > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#fc6a21;
}
#panel-48-971c42a2-4f8e-4970-9b0b-4f5b5e7f8378 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-48-971c42a2-4f8e-4970-9b0b-4f5b5e7f8378 > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-48-41dfc5aa-7807-4b5a-91a5-f2c07cb91531 > .cs-widget-sow-editor-base > .global-element {
  background:transparent;
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home10/block-img-6.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-48-41dfc5aa-7807-4b5a-91a5-f2c07cb91531 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-48-64cb3eb4-5f28-4c97-a4ef-c3fe62306ef4 > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
  border-radius:6px 6px 6px 6px;
}
#panel-48-64cb3eb4-5f28-4c97-a4ef-c3fe62306ef4 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#fc6a21;
}
#panel-48-1250a50c-d917-4cf8-b320-c4891de45202 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-48-1250a50c-d917-4cf8-b320-c4891de45202 > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-48-d3ffb892-8ff8-4c6c-9a39-39f0787608c6 > .cs-widget-sow-editor-base > .global-element {
  background:transparent;
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home10/block-img-7.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-48-d3ffb892-8ff8-4c6c-9a39-39f0787608c6 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-48-e8f7ecbc-ade3-4a75-8d49-83ae234676eb > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
  border-radius:6px 6px 6px 6px;
}
#panel-48-e8f7ecbc-ade3-4a75-8d49-83ae234676eb > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#fc6a21;
}
#panel-48-51f84696-29ff-439d-bd81-c8c686090d7b > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-48-51f84696-29ff-439d-bd81-c8c686090d7b > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-48-d4f4fe84-a707-4823-b97a-db14e8328481 > .cs-widget-sow-editor-base > .global-element {
  background:transparent;
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home10/block-img-8.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-48-d4f4fe84-a707-4823-b97a-db14e8328481 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-48-19790c70-3870-4768-8de9-e5d50867e508 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-48-19790c70-3870-4768-8de9-e5d50867e508 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 767px) {
}
@media (min-width: 1025px) {
}
