#pg-31-0 {
  background-repeat:repeat;
  border-style:none;
}
#pg-31-0 #pgc-31-0-0 .cs-panel { margin-bottom:30px; }
#pg-31-0 #pgc-31-0-0 .cs-panel:last-child { margin-bottom:0; }
#pg-31-0 .panel-row-style { align-items:flex-start; }
#pg-31-0:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-64-32cbb41b-1c89-4d3e-a410-ad27f494f8c6 > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 30px 0px;
  background-repeat:repeat;
  border-style:none;
}
#panel-64-32cbb41b-1c89-4d3e-a410-ad27f494f8c6 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-64-37a82451-6a56-4a2e-834e-afcc9552e523 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-64-3e3e4768-169b-4f46-a835-8c7ccd84d90f > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home17/slide01.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-64-3e3e4768-169b-4f46-a835-8c7ccd84d90f > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-64-044e4aa0-1b2d-4f4a-9269-3f9b0a34186b > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-64-f3eedaa5-4dc2-4c50-96d3-c7ab1cf53ad7 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home17/slide02.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-64-f3eedaa5-4dc2-4c50-96d3-c7ab1cf53ad7 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-64-333281f7-38a8-4a06-9173-520b0fd29ffb > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 10px 0px;
  background-repeat:repeat;
  border-style:none;
}
#panel-64-333281f7-38a8-4a06-9173-520b0fd29ffb > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-64-3543b348-ef0c-478c-918e-93062fcb8525 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-64-dc08420a-7a7a-44f0-9783-0b065be4e004 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-64-8be13fbc-076f-466f-ba89-bdbf7ffdf25c > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-64-33982c7e-7c98-44c9-93d6-47928e1daed2 > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 10px 0px;
  background-repeat:repeat;
  border-style:none;
}
#panel-64-33982c7e-7c98-44c9-93d6-47928e1daed2 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-64-573657c0-8ebc-43e1-9173-966345dade24 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-64-bcc3db62-aa1a-4e0c-98e8-e628b4d86c67 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-64-bcc3db62-aa1a-4e0c-98e8-e628b4d86c67 > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-64-5bff8788-1616-4a87-8e33-306094a51a46 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home17/kids-banner-1.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-64-5bff8788-1616-4a87-8e33-306094a51a46 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-64-31382e03-ea0b-44f7-8a1a-1f6af98c2b83 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-64-ceb46f71-6718-46a8-86c3-8eda9996e859 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-64-ceb46f71-6718-46a8-86c3-8eda9996e859 > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-64-0eefc0aa-a1f4-404b-862a-84644d5f4bb9 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home17/kids-banner-2.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-64-0eefc0aa-a1f4-404b-862a-84644d5f4bb9 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-64-f34cb315-e6be-403d-9e34-5b1b6ee3daea > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-64-f34cb315-e6be-403d-9e34-5b1b6ee3daea > .cs-widget-sow-editor-base > .global-element h3 { text-transform:uppercase; }
#panel-64-f34cb315-e6be-403d-9e34-5b1b6ee3daea > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-64-34f481ba-beb9-497a-b3a8-b75ddcfcbb79 > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 30px 0px;
  background-repeat:repeat;
  border-style:none;
}
#panel-64-34f481ba-beb9-497a-b3a8-b75ddcfcbb79 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-64-63b3d229-4f77-4fcd-b0a7-7c72d540cfcf > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 30px 0px;
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home17/kids-banner-3.png);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-64-63b3d229-4f77-4fcd-b0a7-7c72d540cfcf > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-64-f62a3763-5c1c-4543-8979-108222814f9f > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-64-d03b7aa5-be4e-45e3-96f6-510cb589a20e > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-64-8c2d2d89-f0a6-4793-b64d-51722c6f13dd > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 40px 0px;
  background-repeat:repeat;
  border-style:none;
}
#panel-64-8c2d2d89-f0a6-4793-b64d-51722c6f13dd > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 767px) {
}
@media (min-width: 1025px) {
}
