#pg-20-0 {
  background-repeat:repeat;
  border-style:none;
}
#pg-20-0 #pgc-20-0-0 .cs-panel { margin-bottom:30px; }
#pg-20-0 #pgc-20-0-0 .cs-panel:last-child { margin-bottom:0; }
#pg-20-0 .panel-row-style { align-items:flex-start; }
#pg-20-0:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-35-4de6c146-4818-4a02-963a-4ded98a38329 > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 60px 0px;
  background-repeat:repeat;
  border-style:none;
}
#panel-35-4de6c146-4818-4a02-963a-4ded98a38329 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-35-6ec93487-5551-418e-b652-e71bd6153aa9 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-35-058a67b1-283b-4916-893e-246f53ec779f > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-35-ab957b20-678d-4d20-8033-8634bb44f6f9 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home08/1.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-35-ab957b20-678d-4d20-8033-8634bb44f6f9 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-35-b5fa539a-488e-4fbc-9987-ed7b417b44ea > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-35-075417d0-1d8c-4cae-82ab-c55c00e79eac > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-35-88ea5565-c42a-4e56-9b7a-54f9dd433219 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home08/2.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-35-88ea5565-c42a-4e56-9b7a-54f9dd433219 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-35-850422a6-792c-45a3-b4bd-a8fea0dd5566 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-35-6539aaec-b48e-4812-aa46-7f32f6fe8496 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-35-93f706bc-e403-43ea-9099-22b4b57d6b13 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home08/3.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-35-93f706bc-e403-43ea-9099-22b4b57d6b13 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-35-0337bfef-07f5-409c-bb3e-bf67baed27ef > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-35-f44e5664-35e6-4607-918b-620428aa349d > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-35-948ea5ed-0638-4a70-8083-11c4e5b75af1 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home08/4.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-35-948ea5ed-0638-4a70-8083-11c4e5b75af1 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-35-d0348d7b-b169-4b8a-9896-c83f25d1ccc6 > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px -20px 0px;
  background-repeat:repeat;
}
#panel-35-d0348d7b-b169-4b8a-9896-c83f25d1ccc6 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-35-cff2a1aa-9d9f-4e9d-9a9b-9a7afc70fbcb > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-35-cff2a1aa-9d9f-4e9d-9a9b-9a7afc70fbcb > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-35-d84c27ae-b5fe-4ffe-b8ee-2226bee8810a > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-35-d84c27ae-b5fe-4ffe-b8ee-2226bee8810a > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-35-e22f30c1-39ae-4d73-b672-a13655d8c1ca > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-35-66fb2d45-db14-4282-a850-429e7bf04676 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home08/6.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-35-66fb2d45-db14-4282-a850-429e7bf04676 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-35-45a69894-162b-4db2-a9c9-c6c1c22c9355 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-35-4ae9acfc-fa94-4c70-a77d-9a1fc2ff2f0f > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-35-4ae9acfc-fa94-4c70-a77d-9a1fc2ff2f0f > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-35-b499a153-8766-4c8d-b9e9-2e73d25fc3e5 > .cs-widget-sow-editor-base > .global-element {
  background:#e6e6e6;
  background-repeat:repeat;
  border-style:none;
}
#panel-35-b499a153-8766-4c8d-b9e9-2e73d25fc3e5 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-35-bcfee90f-30c0-4844-ae88-b1cc1ce78da8 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home08/5.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-35-bcfee90f-30c0-4844-ae88-b1cc1ce78da8 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-35-583fa0e7-6e20-4e69-a804-9a02834a0430 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-35-b2ddaec0-dd6f-4b43-9c1e-e8aa3f3694c0 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-35-b2ddaec0-dd6f-4b43-9c1e-e8aa3f3694c0 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-35-6fe8f3b7-0b1c-40a6-b6a7-6d1415e4ec00 > .cs-widget-sow-editor-base > .global-element {
  background:#f4f4f4;
  background-repeat:repeat;
  border-style:none;
}
#panel-35-6fe8f3b7-0b1c-40a6-b6a7-6d1415e4ec00 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 767px) {
}
@media (min-width: 1025px) {
}
