#pg-32-0 {
  background-repeat:repeat;
  border-style:none;
}
#pg-32-0 #pgc-32-0-0 .cs-panel { margin-bottom:0px; }
#pg-32-0 #pgc-32-0-0 .cs-panel:last-child { margin-bottom:0; }
#pg-32-0 .panel-row-style { align-items:flex-start; }
#pg-32-0:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-c2750cde-7b2d-4da3-828b-f560105f5ccf > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-c2750cde-7b2d-4da3-828b-f560105f5ccf > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-64160bed-c794-4fdc-9826-1cd08ea91529 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-36ea69b0-248a-4867-b4c1-a7ed49e6f92d > .cs-widget-sow-editor-base > .global-element {
  padding:5px 40px 5px 40px;
  background:#9f0146;
  background-repeat:repeat;
  border-style:none;
  border-radius:40px 40px 40px 40px;
}
#panel-66-36ea69b0-248a-4867-b4c1-a7ed49e6f92d > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
  background:#2d2d2d;
}
#panel-66-eb0a5526-366e-42d0-b961-e30be14f8c63 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-eb0a5526-366e-42d0-b961-e30be14f8c63 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-2ac466ac-5e88-418a-8ce5-25d885319813 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home18/slide01.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-66-2ac466ac-5e88-418a-8ce5-25d885319813 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-fba09c95-9114-4e1b-8a3d-0bbed1ce3c38 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-41e14a5f-f364-46f5-ae31-a7cf6a121b92 > .cs-widget-sow-editor-base > .global-element {
  padding:5px 40px 5px 40px;
  background:#9f0146;
  background-repeat:repeat;
  border-style:none;
  border-radius:40px 40px 40px 40px;
}
#panel-66-41e14a5f-f364-46f5-ae31-a7cf6a121b92 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
  background:#2d2d2d;
}
#panel-66-bfc13e29-dc52-48f6-b834-7fca2391f307 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-bfc13e29-dc52-48f6-b834-7fca2391f307 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-3a578914-408c-45a4-a059-2ce0bdba30f9 > .cs-widget-sow-editor-base > .global-element {
  padding:0px 10px 0px 10px;
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home18/slide02.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-66-3a578914-408c-45a4-a059-2ce0bdba30f9 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-d0c8ade1-4622-4ac2-acb3-13e83c19f399 > .cs-widget-sow-editor-base > .global-element {
  background:#fffcf3;
  background-repeat:repeat;
  border-style:none;
}
#panel-66-d0c8ade1-4622-4ac2-acb3-13e83c19f399 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-31ae937a-77b7-43b0-8e86-0aba9e1cc019 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-31ae937a-77b7-43b0-8e86-0aba9e1cc019 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-4c14e26c-024a-43f6-8e9d-0293e4449de5 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-b9d96bb8-cd25-4f36-9e41-b3f332971885 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-b9d96bb8-cd25-4f36-9e41-b3f332971885 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-d63c019f-0010-4ea4-a02e-e00f6a10d3cb > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-5f461615-0601-4582-8bf7-89e58390eeb4 > .cs-widget-sow-editor-base > .global-element {
  background:transparent;
  background-repeat:repeat;
  border-style:none;
}
#panel-66-5f461615-0601-4582-8bf7-89e58390eeb4 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-01f0dcf6-fa99-4ead-9db3-70702ce5f3a6 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-e087fa71-a225-402f-a87f-32d280d43681 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-e087fa71-a225-402f-a87f-32d280d43681 > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-66-28481a4f-b360-4122-b3a3-845745ff2f11 > .cs-widget-sow-editor-base > .global-element {
  background:transparent;
  background-repeat:repeat;
  border-style:none;
}
#panel-66-28481a4f-b360-4122-b3a3-845745ff2f11 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-c5567719-83d7-4a42-9b22-95a2b49f75fe > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-0fe227d4-edf9-4a0f-81cf-f929646a5e34 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-26936940-1c71-4e0f-8fb3-bdfd9b5d4627 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-26936940-1c71-4e0f-8fb3-bdfd9b5d4627 > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-66-bc8f8364-b504-4f94-bcea-b322a310c404 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-f6c11d6d-148c-49f4-8007-7139784b44a2 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-da591f6e-06f5-4a83-9eab-183c3d887637 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-da591f6e-06f5-4a83-9eab-183c3d887637 > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-66-6aeaf5ee-aa74-4290-a0a5-d983438c1933 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-3ca8d49a-bba0-468d-89d5-c89847b8fa58 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-32dc203d-dcbe-4c81-9f4b-cb4e4589bb55 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-32dc203d-dcbe-4c81-9f4b-cb4e4589bb55 > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-66-c76c59d3-ab2e-4c6c-b6f2-cf2a2884b5fc > .cs-widget-sow-editor-base > .global-element {
  margin:50px 0px 10px 0px;
  background-repeat:repeat;
}
#panel-66-c76c59d3-ab2e-4c6c-b6f2-cf2a2884b5fc > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-66-6d249b39-b10e-4146-9c5b-eba901e98675 > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 50px 0px;
  background-repeat:repeat;
}
#panel-66-6d249b39-b10e-4146-9c5b-eba901e98675 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-66-9cc5a4a2-2efe-4627-8ce9-b778bcc934e8 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-9cc5a4a2-2efe-4627-8ce9-b778bcc934e8 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 767px) {
}
@media (min-width: 1025px) {
}
