#pg-27-0 { background-repeat:repeat; }
#pg-27-0 #pgc-27-0-0 .cs-panel { margin-bottom:30px; }
#pg-27-0 #pgc-27-0-0 .cs-panel:last-child { margin-bottom:0; }
#pg-27-0 .panel-row-style { align-items:flex-start; }
#panel-54-1a8cd9f9-dd25-49f1-97ba-1547fad6e7d4 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-1a8cd9f9-dd25-49f1-97ba-1547fad6e7d4 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-f82ac97c-5600-4b74-8141-eaaa823c4ce7 > .cs-widget-sow-editor-base > .global-element {
  color:#000000;
  background-repeat:repeat;
  border-style:none;
}
#panel-54-f82ac97c-5600-4b74-8141-eaaa823c4ce7 > .cs-widget-sow-editor-base > .global-element h2 {
  font-size:60px;
  color:#000000;
  font-weight:700;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin:15px 0;
  line-height:1.2;
}
#panel-54-f82ac97c-5600-4b74-8141-eaaa823c4ce7 > .cs-widget-sow-editor-base > .global-element h3 {
  color:#000000;
  font-size:20px;
  font-weight:500;
  line-height:normal;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin:20px 0 30px;
}
#panel-54-f82ac97c-5600-4b74-8141-eaaa823c4ce7 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-8a7b3a76-d4f7-4332-b854-06bc7fce3fb9 > .cs-widget-sow-editor-base > .global-element {
  color:#000000;
  background-repeat:repeat;
  border-style:none;
}
#panel-54-8a7b3a76-d4f7-4332-b854-06bc7fce3fb9 > .cs-widget-sow-editor-base > .global-element .button.underline2:after { background-color:#000000; }
#panel-54-8a7b3a76-d4f7-4332-b854-06bc7fce3fb9 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-f255de1e-3aa6-415a-8aeb-9b63d8d03bd5 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-54-f255de1e-3aa6-415a-8aeb-9b63d8d03bd5 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-54-70e8136d-a27c-4440-ad36-ce85ff636815 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home01/slider-1.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-54-70e8136d-a27c-4440-ad36-ce85ff636815 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-6c190e5d-445b-4b44-97b4-63d186c9a58a > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-54-e869f435-3409-4bb7-90a3-2f4bdd643615 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-e869f435-3409-4bb7-90a3-2f4bdd643615 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-fd0d7bed-b9b4-4fec-9bf6-0bdbe3185851 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-54-fd0d7bed-b9b4-4fec-9bf6-0bdbe3185851 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-54-1af301c6-bd15-41d6-beee-46516581c14d > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home01/slider-2.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-54-1af301c6-bd15-41d6-beee-46516581c14d > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-8da9693e-f27a-42a6-a46f-ea3a861db476 > .cs-widget-sow-editor-base > .global-element {
  color:#000000;
  background-repeat:repeat;
  border-style:none;
}
#panel-54-8da9693e-f27a-42a6-a46f-ea3a861db476 > .cs-widget-sow-editor-base > .global-element h2 {
  font-size:60px;
  color:#000000;
  font-weight:700;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin:15px 0;
  line-height:1.2;
}
#panel-54-8da9693e-f27a-42a6-a46f-ea3a861db476 > .cs-widget-sow-editor-base > .global-element h3 {
  color:#000000;
  font-size:20px;
  font-weight:500;
  line-height:normal;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin:20px 0 30px;
}
#panel-54-8da9693e-f27a-42a6-a46f-ea3a861db476 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-e37d604c-9233-4217-b812-e61b75cfbb55 > .cs-widget-sow-editor-base > .global-element {
  color:#000000;
  background-repeat:repeat;
  border-style:none;
}
#panel-54-e37d604c-9233-4217-b812-e61b75cfbb55 > .cs-widget-sow-editor-base > .global-element .button.underline2:after { background-color:#000000; }
#panel-54-e37d604c-9233-4217-b812-e61b75cfbb55 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-9e9a3218-8f40-4b16-a2f3-404ac8f215b6 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-54-9e9a3218-8f40-4b16-a2f3-404ac8f215b6 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-54-9e0943a6-a5ab-4601-934b-b1ab4620ea49 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home01/slider-3.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-54-9e0943a6-a5ab-4601-934b-b1ab4620ea49 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-8c1a69e5-5fe6-4de9-a4a7-407c14e5d692 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-54-70ecd3fe-90c0-4fcd-be93-086d10f81fd3 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-54-f69c92bb-5c21-481e-8605-b6783fc4eb2a > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
  border-radius:6px 6px 6px 6px;
}
#panel-54-f69c92bb-5c21-481e-8605-b6783fc4eb2a > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#ee1b2e;
}
#panel-54-da3437ba-6f07-4c0e-bf4d-7bf6cba53c5e > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-54-da3437ba-6f07-4c0e-bf4d-7bf6cba53c5e > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-54-b34e5893-7f66-44f4-9be7-cb3a95856c66 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home05/1.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-54-b34e5893-7f66-44f4-9be7-cb3a95856c66 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-7b66caf1-c7fa-46c2-b993-8c0edb25b275 > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
  border-radius:6px 6px 6px 6px;
}
#panel-54-7b66caf1-c7fa-46c2-b993-8c0edb25b275 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#ee1b2e;
}
#panel-54-12b16ca6-bff2-4865-a857-120165ac3198 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-54-12b16ca6-bff2-4865-a857-120165ac3198 > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-54-862870ed-8966-4377-8dab-c50a5604a747 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home05/2.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-54-862870ed-8966-4377-8dab-c50a5604a747 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-28714189-f8df-498d-a65f-be0a864403a8 > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
  border-radius:6px 6px 6px 6px;
}
#panel-54-28714189-f8df-498d-a65f-be0a864403a8 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#ee1b2e;
}
#panel-54-d72f047e-8bfa-4db4-96e7-9dfa05356492 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-54-d72f047e-8bfa-4db4-96e7-9dfa05356492 > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-54-a0165c61-a2e8-4cb4-98e7-4a100fc393df > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home05/3.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-54-a0165c61-a2e8-4cb4-98e7-4a100fc393df > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-989505f9-0afb-4352-aadb-1834a727d5ee > .cs-widget-sow-editor-base > .global-element {
  margin:40px 0px -20px 0px;
  background-repeat:repeat;
}
#panel-54-989505f9-0afb-4352-aadb-1834a727d5ee > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-54-e738c411-3383-42ae-b480-abd300198582 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-54-e738c411-3383-42ae-b480-abd300198582 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-54-fcdccec2-cb00-42ac-af8b-07df0df393fe > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-54-25449814-c401-4fc6-96ba-a6081f09a649 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-54-d9c2e4fe-5c96-4e4e-94c8-4a295f05de58 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-54-e72f89c1-20fa-4498-837c-544fbec24fca > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
  border-radius:6px 6px 6px 6px;
}
#panel-54-e72f89c1-20fa-4498-837c-544fbec24fca > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#ee1b2e;
}
#panel-54-b1835779-6407-46b4-b3d2-79a2b1ca62f0 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-54-b1835779-6407-46b4-b3d2-79a2b1ca62f0 > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-54-4a042022-b781-4d95-8b20-559089658ebd > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home01/categories-grid-01.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-54-4a042022-b781-4d95-8b20-559089658ebd > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-666cdc05-d1ce-4f56-a63a-fa34012a927b > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
  border-radius:6px 6px 6px 6px;
}
#panel-54-666cdc05-d1ce-4f56-a63a-fa34012a927b > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#ee1b2e;
}
#panel-54-f1b9adcd-5177-4369-9010-30e2c6ef5e3d > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-54-f1b9adcd-5177-4369-9010-30e2c6ef5e3d > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-54-0cb3efba-a005-44e3-bfc7-ad0ea0624d99 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home01/categories-grid-02.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-54-0cb3efba-a005-44e3-bfc7-ad0ea0624d99 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-ad521f58-71f9-4894-8cb8-bdd6d253e915 > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
  border-radius:6px 6px 6px 6px;
}
#panel-54-ad521f58-71f9-4894-8cb8-bdd6d253e915 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#ee1b2e;
}
#panel-54-268cb7a6-60f5-4082-acd7-f2976bae547d > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-54-268cb7a6-60f5-4082-acd7-f2976bae547d > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-54-1756f163-3148-4a54-a6bf-a3e215c15092 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home01/categories-grid-03.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-54-1756f163-3148-4a54-a6bf-a3e215c15092 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-7435b0d0-3f1f-48c7-84d6-1d4a17ce9dbc > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
  border-radius:6px 6px 6px 6px;
}
#panel-54-7435b0d0-3f1f-48c7-84d6-1d4a17ce9dbc > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#ee1b2e;
}
#panel-54-8fd7cfe6-05c4-45c9-a3d7-2d8c991b99fb > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-54-8fd7cfe6-05c4-45c9-a3d7-2d8c991b99fb > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-54-78ba9144-4917-4496-9af3-fb81265f5138 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home01/categories-grid-04.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-54-78ba9144-4917-4496-9af3-fb81265f5138 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-f97eaa80-f1cd-4c5c-bd4c-0e389f03d027 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-f97eaa80-f1cd-4c5c-bd4c-0e389f03d027 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-cd597607-abc5-4337-9656-ec4243a49f5f > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-cd597607-abc5-4337-9656-ec4243a49f5f > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-7a1f70be-8fb9-43bd-ab21-dbe228a663b2 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-7a1f70be-8fb9-43bd-ab21-dbe228a663b2 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-00dae819-2bb1-4a1b-9520-288fb1c41687 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-00dae819-2bb1-4a1b-9520-288fb1c41687 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-6e65e971-b9b6-4b18-99c1-e223145956f0 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-54-6e65e971-b9b6-4b18-99c1-e223145956f0 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 767px) {
}
@media (min-width: 1025px) {
}
