#pg-25-0 {
  background-repeat:repeat;
  border-style:none;
}
#pg-25-0 #pgc-25-0-0 .cs-panel { margin-bottom:30px; }
#pg-25-0 .panel-row-style { align-items:flex-start; }
#pg-25-0:hover {
  background-repeat:repeat;
  border-style:none;
}
#pg-25-1 {
  width:100vw;
  position:relative;
  left:50%;
  right:50%;
  margin-left:-50vw !important;
  margin-right:-50vw !important;
  max-width:100vw;
  margin:0px 0px -30px 0px;
  background-repeat:repeat;
  border-style:none;
}
#pg-25-1 #pgc-25-1-0 .cs-panel { margin-bottom:30px; }
#pg-25-1 .panel-row-style { align-items:center; }
#pg-25-1:hover {
  background-repeat:repeat;
  border-style:none;
}
#pg-25-2 {
  width:100vw;
  position:relative;
  left:50%;
  right:50%;
  margin-left:-50vw !important;
  margin-right:-50vw !important;
  max-width:100vw;
  margin:0px 0px -30px 0px;
  background-repeat:repeat;
  border-style:none;
}
#pg-25-2 #pgc-25-2-0 .cs-panel { margin-bottom:30px; }
#pg-25-2 .panel-row-style { align-items:center; }
#pg-25-2:hover {
  background-repeat:repeat;
  border-style:none;
}
#pg-25-3 {
  width:100vw;
  position:relative;
  left:50%;
  right:50%;
  margin-left:-50vw !important;
  margin-right:-50vw !important;
  max-width:100vw;
  margin:0px 0px -30px 0px;
  background-repeat:repeat;
  border-style:none;
}
#pg-25-3 #pgc-25-3-0 .cs-panel { margin-bottom:30px; }
#pg-25-3 .panel-row-style { align-items:center; }
#pg-25-3:hover {
  background-repeat:repeat;
  border-style:none;
}
#pg-25-4 {
  width:100vw;
  position:relative;
  left:50%;
  right:50%;
  margin-left:-50vw !important;
  margin-right:-50vw !important;
  max-width:100vw;
  background-repeat:repeat;
}
#pg-25-4 #pgc-25-4-0 .cs-panel { margin-bottom:30px; }
#pg-25-4 #pgc-25-4-0 .cs-panel:last-child { margin-bottom:0; }
#pg-25-4 .panel-row-style { align-items:center; }
#panel-51-3dddab6a-6ee3-4384-838c-0d36f39f224b > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-51-7f0f2806-6d68-4494-b2d8-85924bfc949f > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-51-2f77af0c-8960-499b-bba6-5a0af012e584 > .cs-widget-sow-editor-base > .global-element {
  margin:0 0 0 0;
  padding:5px 20px 5px 20px;
  color:#000000;
  background:#ffe512;
  background-repeat:repeat;
  border-style:none;
  border-radius:40px 40px 40px 40px;
}
#panel-51-2f77af0c-8960-499b-bba6-5a0af012e584 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#000000;
}
#panel-51-36cc61b7-5e2b-4486-b568-7fd62b021e0b > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-51-5d7d871a-42d2-4780-9a41-99b3cf1641b5 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home11/slide01.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-51-5d7d871a-42d2-4780-9a41-99b3cf1641b5 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-5d3ca8b0-dd5e-426b-8cb4-ab67abe11045 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-51-715a26ba-6fda-4902-879d-10ba58866e1a > .cs-widget-sow-editor-base > .global-element {
  margin:0 0 0 0;
  padding:5px 20px 5px 20px;
  color:#000000;
  background:#ffe512;
  background-repeat:repeat;
  border-style:none;
  border-radius:40px 40px 40px 40px;
}
#panel-51-715a26ba-6fda-4902-879d-10ba58866e1a > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#000000;
}
#panel-51-eb331737-ca86-416f-af6c-3a6c7c5a4bef > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-51-d63502c7-dcbc-4fd9-b15f-c065d0d4e955 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home11/slide02.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-51-d63502c7-dcbc-4fd9-b15f-c065d0d4e955 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-e7b7caa0-a076-42ea-9d83-1b45b0e919df > .cs-widget-sow-editor-base > .global-element {
  margin:0 0 0 0;
  background-repeat:repeat;
  border-style:none;
}
#panel-51-e7b7caa0-a076-42ea-9d83-1b45b0e919df > .cs-widget-sow-editor-base > .global-element .grid-stack { margin:0px 20px 0px 20px; }
#panel-51-e7b7caa0-a076-42ea-9d83-1b45b0e919df > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-db1f757a-f4b8-4b5e-8e21-085477ca707c > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-db1f757a-f4b8-4b5e-8e21-085477ca707c > .cs-widget-sow-editor-base > .global-element.img { margin:0 auto; }
#panel-51-db1f757a-f4b8-4b5e-8e21-085477ca707c > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-649dc2ce-0983-49fd-84d5-b1d667e1dfc1 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-649dc2ce-0983-49fd-84d5-b1d667e1dfc1 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-ada9e7e2-9d84-4272-933f-4d1d27c1b4b2 > .cs-widget-sow-editor-base > .global-element {
  margin:-30px 0px 0px 0px;
  padding:5px 20px 5px 20px;
  color:#000000;
  background:#ffe512;
  background-repeat:repeat;
  border-style:none;
  border-radius:40px 40px 40px 40px;
}
#panel-51-ada9e7e2-9d84-4272-933f-4d1d27c1b4b2 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#000000;
}
#panel-51-e2ec1855-2600-45b8-ab7e-f7fc36dad274 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-51-e2ec1855-2600-45b8-ab7e-f7fc36dad274 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-51-65a6761f-650a-4f52-8148-1ada4d3d1d75 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-65a6761f-650a-4f52-8148-1ada4d3d1d75 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-c0a8f97f-e2d7-4fbb-bd7d-b4b28d29bb7d > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-c0a8f97f-e2d7-4fbb-bd7d-b4b28d29bb7d > .cs-widget-sow-editor-base > .global-element.img { margin:0 auto; }
#panel-51-c0a8f97f-e2d7-4fbb-bd7d-b4b28d29bb7d > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-671e5c93-344f-4678-98b2-e3bec5200c1b > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-671e5c93-344f-4678-98b2-e3bec5200c1b > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-8cf9d6c9-1412-4fc2-94b1-67da6a874a7c > .cs-widget-sow-editor-base > .global-element {
  margin:-30px 0px 0px 0px;
  padding:5px 20px 5px 20px;
  color:#000000;
  background:#ffe512;
  background-repeat:repeat;
  border-style:none;
  border-radius:40px 40px 40px 40px;
}
#panel-51-8cf9d6c9-1412-4fc2-94b1-67da6a874a7c > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#000000;
}
#panel-51-de25f225-8811-4b17-be1e-0a45ae4ec29d > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-51-de25f225-8811-4b17-be1e-0a45ae4ec29d > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-51-b6d39f03-57c0-4c40-ae96-61c430681de8 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-51-660d92e4-dcc2-4ada-8678-f0ffa9725057 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-660d92e4-dcc2-4ada-8678-f0ffa9725057 > .cs-widget-sow-editor-base > .global-element.img { margin:0 auto; }
#panel-51-660d92e4-dcc2-4ada-8678-f0ffa9725057 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-cbe79394-c7ba-4dae-b587-3293d3170dea > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-cbe79394-c7ba-4dae-b587-3293d3170dea > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-ea6c4cf1-d441-441d-83fa-b3580f462bec > .cs-widget-sow-editor-base > .global-element {
  margin:-30px 0px 0px 0px;
  padding:5px 20px 5px 20px;
  color:#000000;
  background:#ffe512;
  background-repeat:repeat;
  border-style:none;
  border-radius:40px 40px 40px 40px;
}
#panel-51-ea6c4cf1-d441-441d-83fa-b3580f462bec > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#000000;
}
#panel-51-08ba3d02-b54c-4dca-a753-0e8eaad76662 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-51-08ba3d02-b54c-4dca-a753-0e8eaad76662 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-51-cac68bbe-b13f-4f16-bdc4-aaf61475f593 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-cac68bbe-b13f-4f16-bdc4-aaf61475f593 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-acaebaf6-5279-4b09-8385-d09180607400 > .cs-widget-sow-editor-base > .global-element {
  margin:0 0 0 0;
  background-repeat:repeat;
  border-style:none;
}
#panel-51-acaebaf6-5279-4b09-8385-d09180607400 > .cs-widget-sow-editor-base > .global-element .grid-stack { margin:0px 30px 0px 30px; }
#panel-51-acaebaf6-5279-4b09-8385-d09180607400 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-dd52b1bf-ec12-49fa-a9b5-5fab33f107df > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-dd52b1bf-ec12-49fa-a9b5-5fab33f107df > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-219c1038-5657-468a-aa04-ad84aa49a166 > .cs-widget-sow-editor-base > .global-element {
  margin:-30px 0px 0px 0px;
  padding:5px 20px 5px 20px;
  color:#000000;
  background:#ffe512;
  background-repeat:repeat;
  border-style:none;
  border-radius:40px 40px 40px 40px;
}
#panel-51-219c1038-5657-468a-aa04-ad84aa49a166 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#000000;
}
#panel-51-3d629aba-57c1-486a-8adb-0b4e1e3b09c1 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-51-3d629aba-57c1-486a-8adb-0b4e1e3b09c1 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-51-a0f7cb5c-7689-4e7d-920a-ac9392ff4bc6 > .cs-widget-sow-editor-base > .global-element {
  margin:0px 30px 30px 0px;
  padding:0 0 0 0;
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home11/block-1.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-51-a0f7cb5c-7689-4e7d-920a-ac9392ff4bc6 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-5ab81eef-775c-4f32-8110-d97086078b6a > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home11/block-2.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-51-5ab81eef-775c-4f32-8110-d97086078b6a > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-66966b08-2d78-459c-8637-2feef913b31e > .cs-widget-sow-editor-base > .global-element {
  margin:0 0 0 0;
  background-repeat:repeat;
  border-style:none;
}
#panel-51-66966b08-2d78-459c-8637-2feef913b31e > .cs-widget-sow-editor-base > .global-element .grid-stack { margin:0px 30px 0px 30px; }
#panel-51-66966b08-2d78-459c-8637-2feef913b31e > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-a0f7cb5c-7689-4e7d-920a-ac9392ff4bc8 > .cs-widget-sow-editor-base > .global-element {
  margin:0 0 0 0;
  padding:0 0 0 0;
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home11/block-5.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-51-a0f7cb5c-7689-4e7d-920a-ac9392ff4bc8 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-7042595b-413b-431e-a2c5-f6deca87c931 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-7042595b-413b-431e-a2c5-f6deca87c931 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-8ed384bc-046e-4ce8-afe6-63be69174f08 > .cs-widget-sow-editor-base > .global-element {
  margin:-30px 0px 0px 0px;
  padding:5px 20px 5px 20px;
  color:#000000;
  background:#ffe512;
  background-repeat:repeat;
  border-style:none;
  border-radius:40px 40px 40px 40px;
}
#panel-51-8ed384bc-046e-4ce8-afe6-63be69174f08 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#000000;
}
#panel-51-101ccf10-8d8d-4d54-b8fa-7360759aa8cb > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-51-101ccf10-8d8d-4d54-b8fa-7360759aa8cb > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-51-5ab81eef-775c-4f32-8110-d97086078b6b > .cs-widget-sow-editor-base > .global-element {
  margin:30px 0px 30px 30px;
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home11/block-4.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-51-5ab81eef-775c-4f32-8110-d97086078b6b > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-579dc906-7944-4c9b-ba88-cff3d0de3ba3 > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 30px 0px;
  background-repeat:repeat;
  border-style:none;
}
#panel-51-579dc906-7944-4c9b-ba88-cff3d0de3ba3 > .cs-widget-sow-editor-base > .global-element .grid-stack { margin:0px 30px 0px 30px; }
#panel-51-579dc906-7944-4c9b-ba88-cff3d0de3ba3 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-dd52b1bf-ec12-49fa-a9b5-5fab33f107df > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-dd52b1bf-ec12-49fa-a9b5-5fab33f107df > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-219c1038-5657-468a-aa04-ad84aa49a166 > .cs-widget-sow-editor-base > .global-element {
  margin:-30px 0px 0px 0px;
  padding:5px 20px 5px 20px;
  color:#000000;
  background:#ffe512;
  background-repeat:repeat;
  border-style:none;
  border-radius:40px 40px 40px 40px;
}
#panel-51-219c1038-5657-468a-aa04-ad84aa49a166 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#000000;
}
#panel-51-3d629aba-57c1-486a-8adb-0b4e1e3b09c1 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-51-3d629aba-57c1-486a-8adb-0b4e1e3b09c1 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-51-a0f7cb5c-7689-4e7d-920a-ac9392ff4bc7 > .cs-widget-sow-editor-base > .global-element {
  margin:30px 30px 0px 0px;
  padding:0 0 0 0;
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home11/block-5.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-51-a0f7cb5c-7689-4e7d-920a-ac9392ff4bc7 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-5ab81eef-775c-4f32-8110-d97086078b6c > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home11/block-6.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-51-5ab81eef-775c-4f32-8110-d97086078b6c > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-f2d790fa-3d6d-4870-8d82-d8919deaf702 > .cs-widget-sow-editor-base > .global-element {
  background:#f0f0f0;
  background-repeat:repeat;
  border-style:none;
}
#panel-51-f2d790fa-3d6d-4870-8d82-d8919deaf702 > .cs-widget-sow-editor-base > .global-element .grid-stack { margin:0px 20px 0px 20px; }
#panel-51-f2d790fa-3d6d-4870-8d82-d8919deaf702 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-a6606377-9d8e-47db-b483-abb831196a09 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-a6606377-9d8e-47db-b483-abb831196a09 > .cs-widget-sow-editor-base > .global-element.img { margin:0 auto; }
#panel-51-a6606377-9d8e-47db-b483-abb831196a09 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-266309c6-7d30-4491-af65-01245d0fe7cf > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-266309c6-7d30-4491-af65-01245d0fe7cf > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-51-240b3fe7-a6c0-4b09-bdc1-db0a0fbf18b7 > .cs-widget-sow-editor-base > .global-element {
  margin:-30px 0px 0px 0px;
  padding:5px 20px 5px 20px;
  color:#000000;
  background:#ffe512;
  background-repeat:repeat;
  border-style:none;
  border-radius:40px 40px 40px 40px;
}
#panel-51-240b3fe7-a6c0-4b09-bdc1-db0a0fbf18b7 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#ffffff;
  border-style:none;
  background:#000000;
}
#panel-51-4f86447f-234f-4355-b26f-bc001d8e5314 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-51-4f86447f-234f-4355-b26f-bc001d8e5314 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 767px) {
}
@media (min-width: 1025px) {
}
