#pg-14-0 {
  background-repeat:repeat;
  border-style:none;
}
#pg-14-0 #pgc-14-0-0 .cs-panel { margin-bottom:30px; }
#pg-14-0 #pgc-14-0-0 .cs-panel:last-child { margin-bottom:0; }
#pg-14-0 .panel-row-style { align-items:flex-start; }
#pg-14-0:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-39-b512af0f-1a26-4b63-921f-164d9ce66e11 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-6e4f5233-ddf4-4d13-a087-1dc8aee3257d > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-39-6e4f5233-ddf4-4d13-a087-1dc8aee3257d > .cs-widget-sow-editor-base > .global-element h2 {
  font-size:60px;
  color:#ffffff;
  text-transform:uppercase;
  font-weight:500;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin:15px 0;
  line-height:1.2;
}
#panel-39-6e4f5233-ddf4-4d13-a087-1dc8aee3257d > .cs-widget-sow-editor-base > .global-element h3 {
  color:#ffffff;
  font-size:20px;
  font-weight:500;
  line-height:normal;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin:20px 0 30px;
}
#panel-39-6e4f5233-ddf4-4d13-a087-1dc8aee3257d > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-39-bb79714a-5ffc-482a-b1d1-7408280d48a5 > .cs-widget-sow-editor-base > .global-element {
  padding:5px 25px 5px 25px;
  background-repeat:repeat;
  border-style:none;
}
#panel-39-bb79714a-5ffc-482a-b1d1-7408280d48a5 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-39-6571f850-ca9d-492a-b966-2144ed0a2959 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-8bdcd840-fad2-486f-8d6e-d26505349e75 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home03-slide1.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-39-8bdcd840-fad2-486f-8d6e-d26505349e75 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-39-f8e2ab9e-2ff2-4f56-909c-9998af0eea5c > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-39-f8e2ab9e-2ff2-4f56-909c-9998af0eea5c > .cs-widget-sow-editor-base > .global-element h2 {
  font-size:60px;
  color:#ffffff;
  font-weight:700;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin:15px 0;
  line-height:1.2;
}
#panel-39-f8e2ab9e-2ff2-4f56-909c-9998af0eea5c > .cs-widget-sow-editor-base > .global-element h3 {
  color:#ffffff;
  font-size:20px;
  font-weight:500;
  line-height:normal;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin:20px 0 30px;
}
#panel-39-f8e2ab9e-2ff2-4f56-909c-9998af0eea5c > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-39-4f2924c2-d759-4d68-ba35-811d523643c3 > .cs-widget-sow-editor-base > .global-element {
  padding:5px 25px 5px 25px;
  background-repeat:repeat;
  border-style:none;
}
#panel-39-4f2924c2-d759-4d68-ba35-811d523643c3 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-39-f03d32c4-a8d4-4d44-8ead-6bbe04f4edea > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-7356965a-e13c-4915-9b8c-92a5fd91da24 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home03-slide2.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-39-7356965a-e13c-4915-9b8c-92a5fd91da24 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-39-f96bb3d5-c6bb-403f-a9ef-491564096bfb > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-cbefadcd-696d-4aba-b075-e385503027b9 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-5a5f5033-f6ea-4446-b0cc-8b55a8706972 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-0d04cb54-d4f7-44d4-8a5d-a8ff6c4ee25b > .cs-widget-sow-editor-base > .global-element {
  background:#ffffff;
  background-repeat:repeat;
}
#panel-39-0d04cb54-d4f7-44d4-8a5d-a8ff6c4ee25b > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-39-8ddf661d-67c4-4ee5-a035-0c7c08736697 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-f2883acc-1704-4ed1-a5ea-d5eb081c4df5 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-673e7712-01ba-4510-a6a1-c4d00a1f9f28 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-b4f4c668-9977-4082-b0ce-2a3b870e1628 > .cs-widget-sow-editor-base > .global-element {
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
}
#panel-39-b4f4c668-9977-4082-b0ce-2a3b870e1628 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-39-b35335b4-b560-45eb-b0f0-8c74a0b5e61a > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-e24a107f-9e7f-4546-8a00-1e6853439cda > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-b5836442-b096-41e2-bd75-bf17f946bfdc > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-7d067976-9403-4a1c-a580-c560f20ce45c > .cs-widget-sow-editor-base > .global-element {
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
}
#panel-39-7d067976-9403-4a1c-a580-c560f20ce45c > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-39-dfc651c2-c279-4d80-bd8d-7a3fb8128af3 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-79264c7e-9a25-4cbc-96b9-006a1b33ebb4 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-58543d75-0813-483c-b366-36f0289046dd > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-b09039ec-15d8-4137-9cdb-ee8456a318dc > .cs-widget-sow-editor-base > .global-element {
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
}
#panel-39-b09039ec-15d8-4137-9cdb-ee8456a318dc > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-39-b71e6ea6-48ec-4e74-8a2a-0d5a879097d9 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-851f71da-50d3-4ac7-ac79-1460e336e74b > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-ff6e4cb0-8305-4e76-be53-a9723b4bcd43 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-edde5936-fe0d-4849-b5c7-4533daf10118 > .cs-widget-sow-editor-base > .global-element {
  background:#ffffff;
  background-repeat:repeat;
  border-style:none;
}
#panel-39-edde5936-fe0d-4849-b5c7-4533daf10118 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-39-7fe0b52e-301e-44af-b1d3-f8fb16e5c9a2 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-1acdcc74-2ffb-41ef-989c-d8b832da6b80 > .cs-widget-sow-editor-base > .global-element {
  margin:30px 0px 0px 0px;
  background-repeat:repeat;
}
#panel-39-1acdcc74-2ffb-41ef-989c-d8b832da6b80 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-39-fc356853-f878-44ff-b01c-cca95eed74af > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-fc356853-f878-44ff-b01c-cca95eed74af > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 767px) {
  #panel-39-b512af0f-1a26-4b63-921f-164d9ce66e11 > .cs-widget-sow-editor-base > .global-element { padding:0 0 0 0; }
  #panel-39-f96bb3d5-c6bb-403f-a9ef-491564096bfb > .cs-widget-sow-editor-base > .global-element body { display:none; }
}
@media (min-width: 1025px) {
}
