#pg-36-0 {
  background-repeat:repeat;
  border-style:none;
}
#pg-36-0 #pgc-36-0-0 .cs-panel { margin-bottom:30px; }
#pg-36-0 #pgc-36-0-0 .cs-panel:last-child { margin-bottom:0; }
#pg-36-0 .panel-row-style { align-items:flex-start; }
#pg-36-0:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-69e22497-e746-4c18-8ba8-1b12d9406aef > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-67-69e22497-e746-4c18-8ba8-1b12d9406aef > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-b081f27d-0a2d-4b0f-9e02-dce0a01af344 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-9cdd9d9a-de85-46b4-966a-ad6e2ef2ff2a > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-9cdd9d9a-de85-46b4-966a-ad6e2ef2ff2a > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-67-2d1a657a-c5b8-4ef7-bddc-cf6b5c6b573d > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home22/slider-1.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-67-2d1a657a-c5b8-4ef7-bddc-cf6b5c6b573d > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-b9850030-7ac4-4c85-98bd-5c11cc6e4b24 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-8265a6e7-97bf-465b-a4c7-c51cb665a4d9 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-8265a6e7-97bf-465b-a4c7-c51cb665a4d9 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-67-58466394-8e04-4dae-bfd3-755b3f415ad6 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home22/slider-2.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-67-58466394-8e04-4dae-bfd3-755b3f415ad6 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-703b019d-57d1-41fd-82ee-ee2587488d51 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-004073a2-dd1a-4ec0-adb8-a1063a14ecb4 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-004073a2-dd1a-4ec0-adb8-a1063a14ecb4 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-67-289671bb-22c8-4434-89e0-f76b3f1c9d1e > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home22/slider-3.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-67-289671bb-22c8-4434-89e0-f76b3f1c9d1e > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-a6f32f13-51b7-4da0-a4db-8d948de9ffa8 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-a6f32f13-51b7-4da0-a4db-8d948de9ffa8 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-65d36162-ca4a-44ca-bcba-566e8330dac1 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-65d36162-ca4a-44ca-bcba-566e8330dac1 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-67-1245a495-092a-4561-9356-d2ff004bb0a1 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home22/slider-4.jpg);
  background-repeat:repeat;
  border-style:none;
}
#panel-67-1245a495-092a-4561-9356-d2ff004bb0a1 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-7d70b3d2-ce0d-4e19-8770-1228f1d0b8d0 > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px -40px 0px;
  background-repeat:repeat;
  border-style:none;
}
#panel-67-7d70b3d2-ce0d-4e19-8770-1228f1d0b8d0 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-7837ec82-e26a-4fe7-9993-301f3e08e637 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-7837ec82-e26a-4fe7-9993-301f3e08e637 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-c3f0d0c2-6276-446e-8592-06d2c17a77f9 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-c3f0d0c2-6276-446e-8592-06d2c17a77f9 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-ae5dc1d0-78ac-4dfc-945b-06bedea2f901 > .cs-widget-sow-editor-base > .global-element {
  color:#000000;
  background-repeat:repeat;
  border-style:none;
}
#panel-67-ae5dc1d0-78ac-4dfc-945b-06bedea2f901 > .cs-widget-sow-editor-base > .global-element i {
  font-size:25px;
  padding-right:5px;
}
#panel-67-ae5dc1d0-78ac-4dfc-945b-06bedea2f901 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  color:#f8bf00;
  border-style:none;
}
#panel-67-a6666b5d-5d78-4227-ada4-87f91c9f16a6 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:solid;
  border-width:0px 0px 1px 0px;
  border-color:#eaeaea;
}
#panel-67-a6666b5d-5d78-4227-ada4-87f91c9f16a6 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:solid;
}
#panel-67-009fdaab-bded-4233-8350-037810a5c984 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-009fdaab-bded-4233-8350-037810a5c984 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-cd0013c2-3d93-4179-bfd2-cd69fcd07f4a > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-30158b6f-8e28-4269-9e3d-b5717aeebc0b > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-01441b99-3de0-4aad-98b1-58a917681955 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-eddcc64e-68ce-4bd4-a33b-f8358d50bef8 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-788f3f1f-6ca8-4834-9599-58005189f01b > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-c1e757ea-1a60-4e7f-9a92-0b4d2be33d1f > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-c4d0dcd2-b945-4e15-b7ff-a4aa65631db7 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-47e40eef-603c-4233-aed7-3574173facff > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-47e40eef-603c-4233-aed7-3574173facff > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-dd2d4a8c-f3a0-4e22-9bd7-376e2a28dd07 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-6520ce42-23e8-4193-98c0-cd4d79b83dae > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-e54cbb8c-b3aa-4799-b7d1-305b21a38a14 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-ec42568e-ec8e-4048-9238-2b4a48798562 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-684ea6fc-80ab-4396-ad2d-102df534b164 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-6aef8289-dc04-4bea-9e6d-2a702298ee5b > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-74bbe14e-a51f-4816-86e4-298217cefc35 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-6d3c2000-d8d6-4360-a89d-98cea8ab1b4f > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-63179536-65ee-4df9-b1a1-75b67e106990 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-6758c73c-0bfa-406f-b598-38f5986265df > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-a8bf562e-7362-4185-82c6-94c1c24b1377 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-5fae3a32-650f-483d-a42d-9a64b89c27e4 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-5873e37e-dd66-4b75-ba29-812bdffaaf03 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-0999ef97-37b6-4496-bd33-01beb378e96b > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-70c76253-992c-4665-951a-e004cfcf31ac > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-09957544-5e3d-441d-a157-ddd7fd264085 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-dd25764e-6a46-4687-8631-2825b3984985 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-759a70b4-a72c-4334-acaa-ce8246755d10 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-10295f02-2118-40a8-b59d-105ea678a151 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-4d34cec1-31bb-4f7c-8650-55e3c3a2ad9c > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-cdc271f5-3626-4230-8255-53d7da37a885 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-81fd2012-fee7-4c2f-897d-7c57e7182e81 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-7c39c69e-a795-4ed8-9af9-1dd0f83773c7 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-1d266c76-f916-46b4-ae31-bd27d8da7603 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-a7c091ea-675e-4612-816d-11d02c4a00ae > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-67-a0ae28e8-b60d-4294-b585-2e339cf7eda0 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-a0ae28e8-b60d-4294-b585-2e339cf7eda0 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-a8234d4c-ed51-48cd-9f9f-7b0f007ef6c8 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-a8234d4c-ed51-48cd-9f9f-7b0f007ef6c8 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-cc9b4ee6-b970-479c-b480-13c6bbc694f1 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-cc9b4ee6-b970-479c-b480-13c6bbc694f1 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-0eae2d1c-76a4-43a5-a444-1f2933ea5ce9 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-0eae2d1c-76a4-43a5-a444-1f2933ea5ce9 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-fe2d49d7-a56c-49d0-9152-dd1df7afaaad > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-67-fe2d49d7-a56c-49d0-9152-dd1df7afaaad > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 767px) {
}
@media (min-width: 1025px) {
}
