#pg-33-0 {
  background-repeat:repeat;
  border-style:none;
}
#pg-33-0 #pgc-33-0-0 .cs-panel { margin-bottom:30px; }
#pg-33-0 #pgc-33-0-1 .cs-panel { margin-bottom:30px; }
#pg-33-0 .panel-row-style { align-items:center; }
#pg-33-0:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-d3697ccb-e667-443a-839d-e96b7c676590 > .cs-widget-sow-editor-base > .global-element {
  margin:0 0 -30 0;
  background-repeat:repeat;
  border-style:none;
}
#panel-70-d3697ccb-e667-443a-839d-e96b7c676590 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-9f6dc207-533b-47bf-8866-e1730326f1fb > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-48424fe4-87b9-41cf-9099-48d1f59bebda > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-48424fe4-87b9-41cf-9099-48d1f59bebda > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-838f74ed-291f-479f-a8b6-954808c27c12 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-840b5c8e-f316-4da8-b9a6-c2154a96e69e > .cs-widget-sow-editor-base > .global-element {
  padding:5px 20px 5px 20px;
  background-repeat:repeat;
  border-style:none;
}
#panel-70-840b5c8e-f316-4da8-b9a6-c2154a96e69e > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-b2a2d277-5755-4f9a-a797-ec820f4bc421 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-b2a2d277-5755-4f9a-a797-ec820f4bc421 > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-70-8f8d7632-017b-4dfe-8754-84d0a876a816 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home19/slide01.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-70-8f8d7632-017b-4dfe-8754-84d0a876a816 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-5efbeade-92a3-485d-91b0-7a86e68389b0 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-fd646d07-116c-4008-b08b-0c788e3d63f7 > .cs-widget-sow-editor-base > .global-element {
  padding:5px 20px 5px 20px;
  background-repeat:repeat;
  border-style:none;
}
#panel-70-fd646d07-116c-4008-b08b-0c788e3d63f7 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-19cef85e-bb5f-407e-9bea-1e7d7881a196 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-19cef85e-bb5f-407e-9bea-1e7d7881a196 > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-70-99dde3fc-ad31-4afe-8867-08edd16327e6 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home19/slide02.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-70-99dde3fc-ad31-4afe-8867-08edd16327e6 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-7f58abee-a0b4-4384-bb44-924177317c90 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-3c10a283-fee5-4192-9a28-e79897112a44 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-1d149c9e-9d9f-45e5-8480-49ae32abb11e > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-a77bfeaa-9c41-4074-bd6c-5d73a9ec7314 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-a77bfeaa-9c41-4074-bd6c-5d73a9ec7314 > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-70-503d0b7e-16eb-4c3e-9a50-5c6c0186c6d8 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home19/cleversoft-handyman1.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-70-503d0b7e-16eb-4c3e-9a50-5c6c0186c6d8 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-12ca9350-49ed-4846-b9f0-33f18b07cd17 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-cc456536-e349-46f5-aa19-c7f014d96e9c > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-cef92d17-4225-415e-802d-4cf749dfca05 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-cef92d17-4225-415e-802d-4cf749dfca05 > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-70-7120e17f-0d5c-4362-956c-5d0375cd9d06 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home19/cleversoft-handyman2.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-70-7120e17f-0d5c-4362-956c-5d0375cd9d06 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-28a0c34e-46cf-49a5-b950-e88a937641aa > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-a6949e22-b8b6-4f67-9987-d96cdee5f225 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-a23515cb-92c0-43a4-aff6-45fd167c6f91 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-a23515cb-92c0-43a4-aff6-45fd167c6f91 > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-70-3ff2e4d9-ba48-451e-a01c-409de203486e > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home19/cleversoft-handyman3.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-70-3ff2e4d9-ba48-451e-a01c-409de203486e > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-207ceef9-d7ed-498f-8bf3-a583e5e84b42 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-bab27e5f-12d1-46a2-8a38-40e8665d018a > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-21f0395c-668d-4005-8ae1-1ad33d79cb4d > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-729c9887-e3c3-4bb0-8b7c-7b269ce56b21 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-eba5725e-ffe2-4850-8f50-29441d365579 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-3fc1bea7-7c06-4d6e-a84a-f7a0af25dedf > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home19/image-banner.jpg);
  background-position:center center;
  background-size:cover;
  border-style:none;
}
#panel-70-3fc1bea7-7c06-4d6e-a84a-f7a0af25dedf > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-854dfe38-1817-402c-8aba-bea0366d1c1f > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-b1ff2631-b954-4b37-a9aa-01dfed392ed7 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-e82bb2ea-10d3-447c-af08-16b05d320241 > .cs-widget-sow-editor-base > .global-element {
  margin:40px 0px 20px 0px;
  background-repeat:repeat;
}
#panel-70-e82bb2ea-10d3-447c-af08-16b05d320241 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-70-38e2d9a2-0df1-46b7-91e7-7f6f2f516eb5 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-70-bb9fd2d5-5f23-45ee-9978-3359cb0edcd6 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-bb9fd2d5-5f23-45ee-9978-3359cb0edcd6 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-78ad55d3-bc8c-41e1-a678-88c27406b982 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-78ad55d3-bc8c-41e1-a678-88c27406b982 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-2fd470f6-d394-446d-a617-47f01a0828c5 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-2fd470f6-d394-446d-a617-47f01a0828c5 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-e0ab5b31-2ef2-4fbd-9a82-6284751507bc > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-e0ab5b31-2ef2-4fbd-9a82-6284751507bc > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-df823049-4866-4c8c-b246-6d57fb201836 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-70-df823049-4866-4c8c-b246-6d57fb201836 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 767px) {
}
@media (min-width: 1025px) {
}
