<?xml version="1.0"?>
<!--
/**
 * @category    CleverSoft
 * @package     CleverSocialProof
 * @copyright   Copyright © 2017 CleverSoft., JSC. All Rights Reserved.
 * @author      ZooExtension.com
 * @email       magento.cleversoft@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="socialproof" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>CleverSocialProof</label>
            <tab>cleverextensions</tab>
            <resource>CleverSoft_CleverTheme::config_socialproof</resource>
            <group id="info_socialproof" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <attribute type="expanded">1</attribute>
                <frontend_model>CleverSoft\CleverSocialProof\Block\System\Config\Form\Field\Information</frontend_model>
            </group>
            <group id="general" translate="label" type="text"
                   sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="list_category" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Category</label>
                    <source_model>CleverSoft\CleverSocialProof\Model\Config\Source\Categorylist</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="limit_product" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Limit Product</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="delay_time" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delay time (ms)</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="display_time" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display time (ms)</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="name" translate="label comment" type="textarea" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Name</label>
                    <comment>Separate by a comma, i.e "Ronaldo | Messi | Neymar | Mbappé".</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="country" translate="label comment" type="textarea" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country</label>
                    <comment>Separate by a comma, i.e "Melbourne, Australia | London, England | New York | Washington".</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="time" translate="label comment" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Time</label>
                    <comment>Separate by a comma, i.e "2 hours ago | 15 minutes ago | 40 minutes ago".</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>