<?xml version="1.0"?>
<!--
/**
 * @category    CleverSoft
 * @package     CleverLayeredNavigation
 * @copyright   Copyright © 2017 CleverSoft., JSC. All Rights Reserved.
 * @author 		ZooExtension.com
 * @email       magento.cleversoft@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Catalog\Model\ResourceModel\Eav\Attribute">
        <plugin name="clevershopby_attribute_plugin" type="\CleverSoft\CleverLayeredNavigation\Plugin\AttributePlugin" sortOrder="1"/>
    </type>
</config>
