<!--@subject {{trans "%templateSubject," templateSubject=$templateSubject}}  @-->
{{template config_path="design/email/header_template"}}

<p>Dear {{trans "%customer_name," customer_name=$customer_name}}</p>

<p>{{trans "Someone requested to download your data from our site." }}</p>
<p>{{trans "By clicking confirm we will redirect you back to our site where a download will begin." }}</p>

<p>To download it in a XML format, click here: <a href='"{{trans "%link1" link1=$link1 }}"' rel="noreferrer" target="_blank">{{trans "%link1" link1=$link1 }}</a> </p>
<p>To download it in a JSON format, click here: <a href='"{{trans "%link2" link2=$link2 }}"' rel="noreferrer" target="_blank">{{trans "%link2" link2=$link2 }}</a> </p>





<p>---------------------------------------------------------------------------------</p>
<p>If that wasn't you, reset your password: <a href='"{{trans "%link_reset" link_reset=$link_reset }}"' rel="noreferrer" target="_blank">{{trans "%link_reset" link_reset=$link_reset }}</a></p>

{{template config_path="design/email/footer_template"}}