#panel-37-7b275c77-a76c-4dd0-b3b9-c3a85534c020 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-37-7b275c77-a76c-4dd0-b3b9-c3a85534c020 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-37-95974819-a2e3-4b19-8d36-a91de8aed31f > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-position:center center;
  background-size:cover;
  border-radius:6px 6px 6px 6px;
}
#panel-37-95974819-a2e3-4b19-8d36-a91de8aed31f > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
  color:#ffffff;
  background:#b40303;
}
#panel-37-9dd013fb-07aa-4ded-a06a-6ce9d954b93c > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-37-9dd013fb-07aa-4ded-a06a-6ce9d954b93c > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-37-f2b0b2cf-6103-4b3a-a864-937a005367f7 > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-position:center center;
  background-size:cover;
  border-radius:6px 6px 6px 6px;
}
#panel-37-f2b0b2cf-6103-4b3a-a864-937a005367f7 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
  color:#ffffff;
  background:#b40303;
}
#panel-37-5c27ff90-e40b-4589-847c-c0487fc9b8fa > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-37-5c27ff90-e40b-4589-847c-c0487fc9b8fa > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-37-76e9de7e-c8cc-4e39-afe5-c6051af77b84 > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-position:center center;
  background-size:cover;
  border-radius:6px 6px 6px 6px;
}
#panel-37-76e9de7e-c8cc-4e39-afe5-c6051af77b84 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
  color:#ffffff;
  background:#b40303;
}
#panel-37-45913a21-de95-4fd3-a6d7-f20e4a646e5c > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-37-45913a21-de95-4fd3-a6d7-f20e4a646e5c > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-37-d8392bab-4254-444a-b74b-ebbe65a20c2d > .cs-widget-sow-editor-base > .global-element {
  padding:5px 30px 5px 30px;
  color:#000000;
  background:#ffffff;
  background-position:center center;
  background-size:cover;
  border-radius:6px 6px 6px 6px;
}
#panel-37-d8392bab-4254-444a-b74b-ebbe65a20c2d > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
  color:#ffffff;
  background:#b40303;
}
#panel-37-c866fe3e-fa35-4df3-8d66-55007545e912 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-37-c866fe3e-fa35-4df3-8d66-55007545e912 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-37-6f0d36d6-1e90-481a-9543-05597eac2ff5 > .cs-widget-sow-editor-base > .global-element {
  margin:60px 0px 0px 0px;
  background-repeat:repeat;
}
#panel-37-6f0d36d6-1e90-481a-9543-05597eac2ff5 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-37-13a4ec8b-d26d-4f6a-822f-93b0e3f057e3 > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 30px 0px;
  background-repeat:repeat;
}
#panel-37-13a4ec8b-d26d-4f6a-822f-93b0e3f057e3 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-37-46165739-7572-4d0c-b032-a1310e582003 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-37-46165739-7572-4d0c-b032-a1310e582003 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-37-f996d81e-c1b4-4eec-9dfe-6c9ad23a7f13 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home06/slider-4.jpg);
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-37-f996d81e-c1b4-4eec-9dfe-6c9ad23a7f13 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-37-7103281f-1b41-47d1-adef-42e2365cccdc > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-37-bd331f2e-000b-4852-940c-10b26f2b7175 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-37-d2ed1a62-caea-45b5-8137-3239faf85564 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-37-d2ed1a62-caea-45b5-8137-3239faf85564 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-37-7b275c77-a76c-4dd0-b3b9-c3a85534c020 .element-row .column-gap-default .row.row-stack > .column-wrap { padding:10px; }
#panel-37-7b275c77-a76c-4dd0-b3b9-c3a85534c020 .element-row .column-gap-no .row.row-stack > .column-wrap { padding:0; }
#panel-37-7b275c77-a76c-4dd0-b3b9-c3a85534c020 .element-row .column-gap-narrow .row.row-stack > .column-wrap { padding:5px; }
#panel-37-7b275c77-a76c-4dd0-b3b9-c3a85534c020 .element-row .column-gap-extended .row.row-stack > .column-wrap { padding:15px; }
#panel-37-7b275c77-a76c-4dd0-b3b9-c3a85534c020 .element-row .column-gap-wide .row.row-stack > .column-wrap { padding:20px; }
#panel-37-7b275c77-a76c-4dd0-b3b9-c3a85534c020 .element-row .column-gap-wider .row.row-stack > .column-wrap { padding:30px; }
#panel-37-7b275c77-a76c-4dd0-b3b9-c3a85534c020 .element-row.element-row-style-boxed .element-row__content.set-width-yes { max-width:500px; }
#panel-37-7b275c77-a76c-4dd0-b3b9-c3a85534c020 .element-row.element-row-height-min-height { min-height:400px; }
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 767px) {
}
@media (min-width: 1025px) {
}
