#pg-14-0 {
  background-repeat:repeat;
  border-style:none;
}
#pg-14-0 #pgc-14-0-0 .cs-panel { margin-bottom:30px; }
#pg-14-0 #pgc-14-0-0 .cs-panel:last-child { margin-bottom:0; }
#pg-14-0 .panel-row-style { align-items:flex-start; }
#pg-14-0:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-39-b512af0f-1a26-4b63-921f-164d9ce66e11 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-b512af0f-1a26-4b63-921f-164d9ce66e11 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-6e4f5233-ddf4-4d13-a087-1dc8aee3257d > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-39-6e4f5233-ddf4-4d13-a087-1dc8aee3257d > .cs-widget-sow-editor-base > .global-element h2 {
  font-size:60px;
  color:#ffffff;
  text-transform:uppercase;
  font-weight:500;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin:15px 0;
  line-height:1.2;
}
#panel-39-6e4f5233-ddf4-4d13-a087-1dc8aee3257d > .cs-widget-sow-editor-base > .global-element h3 {
  color:#ffffff;
  font-size:20px;
  font-weight:500;
  line-height:normal;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin:20px 0 30px;
}
#panel-39-6e4f5233-ddf4-4d13-a087-1dc8aee3257d > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-39-bb79714a-5ffc-482a-b1d1-7408280d48a5 > .cs-widget-sow-editor-base > .global-element {
  padding:5px 25px 5px 25px;
  background-repeat:repeat;
  border-style:none;
}
#panel-39-bb79714a-5ffc-482a-b1d1-7408280d48a5 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-39-6571f850-ca9d-492a-b966-2144ed0a2959 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-6571f850-ca9d-492a-b966-2144ed0a2959 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-39-8bdcd840-fad2-486f-8d6e-d26505349e75 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home03-slide1.jpg);
  background-position:center center;
  background-size:cover;
}
#panel-39-8bdcd840-fad2-486f-8d6e-d26505349e75 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-65ed3230-66a9-415e-a331-fd0a79e4bbc9 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-65ed3230-66a9-415e-a331-fd0a79e4bbc9 > .cs-widget-sow-editor-base > .global-element h2 {
  font-size:60px;
  color:#ffffff;
  font-weight:700;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin:15px 0;
  line-height:1.2;
}
#panel-39-65ed3230-66a9-415e-a331-fd0a79e4bbc9 > .cs-widget-sow-editor-base > .global-element h3 {
  color:#ffffff;
  font-size:20px;
  font-weight:500;
  line-height:normal;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin:20px 0 30px;
}
#panel-39-65ed3230-66a9-415e-a331-fd0a79e4bbc9 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-36fce51a-ab2e-4c3f-8367-4dcbb2bcbb89 > .cs-widget-sow-editor-base > .global-element {
  padding:5px 25px 5px 25px;
  background-position:center center;
  background-size:cover;
}
#panel-39-36fce51a-ab2e-4c3f-8367-4dcbb2bcbb89 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-da887012-b955-47b6-b4bf-de0e12757186 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home03-slide2.jpg);
  background-position:center center;
  background-size:cover;
}
#panel-39-da887012-b955-47b6-b4bf-de0e12757186 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-47d57b21-3428-4613-a1c3-903569dc5617 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-47d57b21-3428-4613-a1c3-903569dc5617 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-5d7b449f-58f0-4bde-847e-b9f212a7cf17 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-5d7b449f-58f0-4bde-847e-b9f212a7cf17 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-7d4fac6a-7414-4853-aef6-e8f9ca53c4e6 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-7d4fac6a-7414-4853-aef6-e8f9ca53c4e6 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-ac4b2f64-41a5-40a7-af4b-a3cbd4851790 > .cs-widget-sow-editor-base > .global-element {
  background:#ffffff;
  background-position:center center;
  background-size:cover;
}
#panel-39-ac4b2f64-41a5-40a7-af4b-a3cbd4851790 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-179d3bea-4e47-4da3-a64c-14411884d563 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-179d3bea-4e47-4da3-a64c-14411884d563 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-7039ad1c-bb70-4646-8b1e-604aebf66901 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-7039ad1c-bb70-4646-8b1e-604aebf66901 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-08c1138a-eeae-4f2e-8377-58b997380213 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-08c1138a-eeae-4f2e-8377-58b997380213 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-d31e1538-0ac2-4c8a-983f-585e6082977d > .cs-widget-sow-editor-base > .global-element {
  background:#ffffff;
  background-position:center center;
  background-size:cover;
}
#panel-39-d31e1538-0ac2-4c8a-983f-585e6082977d > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-807c44cd-9968-4a73-8fd8-da353eef648d > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-807c44cd-9968-4a73-8fd8-da353eef648d > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-8cbc45a0-604d-42c0-a6cc-cc92b6f1b16d > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-8cbc45a0-604d-42c0-a6cc-cc92b6f1b16d > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-46b44f42-941e-475c-87eb-45d23ad4e573 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-46b44f42-941e-475c-87eb-45d23ad4e573 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-3d234fd0-1b6b-4312-9127-1a5e04ff24b4 > .cs-widget-sow-editor-base > .global-element {
  background:#ffffff;
  background-position:center center;
  background-size:cover;
}
#panel-39-3d234fd0-1b6b-4312-9127-1a5e04ff24b4 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-c4b20fad-3e9b-405f-b0be-7b91d551bcbc > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-c4b20fad-3e9b-405f-b0be-7b91d551bcbc > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-86d68f9e-ff73-4605-8450-865607628132 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-86d68f9e-ff73-4605-8450-865607628132 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-f0a58779-10c9-4acc-a4ce-edd91bb9c1ad > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-f0a58779-10c9-4acc-a4ce-edd91bb9c1ad > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-8e29cd75-99da-45b5-b9d0-d4f370d3e38c > .cs-widget-sow-editor-base > .global-element {
  background:#ffffff;
  background-position:center center;
  background-size:cover;
}
#panel-39-8e29cd75-99da-45b5-b9d0-d4f370d3e38c > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-89cd188d-fb47-4144-8541-029c88406f0c > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-89cd188d-fb47-4144-8541-029c88406f0c > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-d96cccaa-e207-4500-abca-eca53df85bcb > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-d96cccaa-e207-4500-abca-eca53df85bcb > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-b617720e-849f-4637-98a5-0fcdbb0b42ac > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-b617720e-849f-4637-98a5-0fcdbb0b42ac > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-5f835580-e51c-4b84-8385-a9208348854e > .cs-widget-sow-editor-base > .global-element {
  background:#ffffff;
  background-position:center center;
  background-size:cover;
}
#panel-39-5f835580-e51c-4b84-8385-a9208348854e > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-f025460a-0d8e-4610-9061-4e1fb81af12f > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-39-f025460a-0d8e-4610-9061-4e1fb81af12f > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-39-1acdcc74-2ffb-41ef-989c-d8b832da6b80 > .cs-widget-sow-editor-base > .global-element {
  margin:30px 0px 0px 0px;
  background-repeat:repeat;
}
#panel-39-1acdcc74-2ffb-41ef-989c-d8b832da6b80 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-39-fc356853-f878-44ff-b01c-cca95eed74af > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-39-fc356853-f878-44ff-b01c-cca95eed74af > .cs-widget-sow-editor-base > .global-element:hover {
  background-attachment:fixed;
  background-position:center center;
  background-size:cover;
}
#panel-39-47d57b21-3428-4613-a1c3-903569dc5617 .element-row .column-gap-default .row.row-stack > .column-wrap { padding:10px; }
#panel-39-47d57b21-3428-4613-a1c3-903569dc5617 .element-row .column-gap-no .row.row-stack > .column-wrap { padding:0; }
#panel-39-47d57b21-3428-4613-a1c3-903569dc5617 .element-row .column-gap-narrow .row.row-stack > .column-wrap { padding:5px; }
#panel-39-47d57b21-3428-4613-a1c3-903569dc5617 .element-row .column-gap-extended .row.row-stack > .column-wrap { padding:15px; }
#panel-39-47d57b21-3428-4613-a1c3-903569dc5617 .element-row .column-gap-wide .row.row-stack > .column-wrap { padding:20px; }
#panel-39-47d57b21-3428-4613-a1c3-903569dc5617 .element-row .column-gap-wider .row.row-stack > .column-wrap { padding:30px; }
#panel-39-47d57b21-3428-4613-a1c3-903569dc5617 .element-row.element-row-style-boxed .element-row__content.set-width-yes { max-width:500px; }
#panel-39-47d57b21-3428-4613-a1c3-903569dc5617 .element-row.element-row-height-min-height { min-height:400px; }
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 767px) {
  #panel-39-b512af0f-1a26-4b63-921f-164d9ce66e11 > .cs-widget-sow-editor-base > .global-element { padding:0 0 0 0; }
}
@media (min-width: 1025px) {
}
