#panel-41-2f46f0d0-b6f1-484e-a69e-5121bb07fa4c > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 30px 0px;
  background-repeat:repeat;
}
#panel-41-2f46f0d0-b6f1-484e-a69e-5121bb07fa4c > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-3ba12348-e0b6-45ae-9be4-14c96962a32f > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-41-3ba12348-e0b6-45ae-9be4-14c96962a32f > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-0c38b0ec-80cb-4e00-9148-c9c79266045f > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-41-0c38b0ec-80cb-4e00-9148-c9c79266045f > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-41-e4e6b91c-a6cd-4460-95d4-b6fc11699ce0 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home04/slider-1-home04.jpg);
  background-position:center center;
  background-size:cover;
}
#panel-41-e4e6b91c-a6cd-4460-95d4-b6fc11699ce0 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-26160fba-67ee-40b1-a997-ccec2c017c1e > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-41-26160fba-67ee-40b1-a997-ccec2c017c1e > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-7da94463-f022-4f7b-ad24-a283fe9f3da1 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-41-7da94463-f022-4f7b-ad24-a283fe9f3da1 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-f4a2f78c-d626-4deb-9bd7-7d631f20862a > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home04/slider-2-home04.jpg);
  background-position:center center;
  background-size:cover;
}
#panel-41-f4a2f78c-d626-4deb-9bd7-7d631f20862a > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-ac5790fb-8090-49de-95a1-6d18c679d30d > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-41-ac5790fb-8090-49de-95a1-6d18c679d30d > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-74005eed-5cf7-4fb3-8a74-c24b2410103c > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-41-74005eed-5cf7-4fb3-8a74-c24b2410103c > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-67bff052-7ca4-4019-a6ae-1119ef5daefc > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-41-67bff052-7ca4-4019-a6ae-1119ef5daefc > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-215243bb-6d03-4931-b036-b39414d0b1f3 > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 15px 0px;
  background-position:center center;
  background-size:cover;
}
#panel-41-215243bb-6d03-4931-b036-b39414d0b1f3 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-63dddd10-5ddd-4d69-8167-3925137b6c52 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-41-63dddd10-5ddd-4d69-8167-3925137b6c52 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-5ad7322c-58b3-4cab-a4d4-588fb5bd3899 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-41-5ad7322c-58b3-4cab-a4d4-588fb5bd3899 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-0e38fab2-0b66-41d8-9ecd-b38bda128d21 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-41-0e38fab2-0b66-41d8-9ecd-b38bda128d21 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-09806c9c-9087-42b8-a066-8c1abdc53c3d > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-41-09806c9c-9087-42b8-a066-8c1abdc53c3d > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-754d6c0f-e732-4db1-8726-72e58ece27cc > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-41-754d6c0f-e732-4db1-8726-72e58ece27cc > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-1fe31a77-4dbc-4996-9893-75882d9199be > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 15px 0px;
  background-position:center center;
  background-size:cover;
}
#panel-41-1fe31a77-4dbc-4996-9893-75882d9199be > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-aae9774b-379a-435a-86f9-cc8298b747ae > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-41-aae9774b-379a-435a-86f9-cc8298b747ae > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-71594394-85a9-4e5b-94b5-34acd2ae00c1 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-41-71594394-85a9-4e5b-94b5-34acd2ae00c1 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-217e7502-145e-4272-96f3-99e4e44e27b6 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-41-217e7502-145e-4272-96f3-99e4e44e27b6 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-cbe714f6-d253-4ec7-8775-265ef488df15 > .cs-widget-sow-editor-base > .global-element {
  margin:50px 0px 20px 0px;
  background-repeat:repeat;
}
#panel-41-cbe714f6-d253-4ec7-8775-265ef488df15 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-41-59f1e734-14d2-4145-b7e4-c2a3ec78b6aa > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-41-59f1e734-14d2-4145-b7e4-c2a3ec78b6aa > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-41-cb71cad2-9bb9-49ef-a1af-0651bbf6f451 > .cs-widget-sow-editor-base > .global-element {
  margin:50px 0px 20px 0px;
  background-repeat:repeat;
}
#panel-41-cb71cad2-9bb9-49ef-a1af-0651bbf6f451 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-41-6b9050d3-b17f-4944-b335-a636b51638cc > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-41-6b9050d3-b17f-4944-b335-a636b51638cc > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-41-626024b4-fead-4585-af6c-5c96faae1d3a > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 30px 0px;
  background-position:center center;
  background-size:cover;
}
#panel-41-626024b4-fead-4585-af6c-5c96faae1d3a > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-31d854da-98c3-4a77-ab27-70a601e8c75d > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-41-31d854da-98c3-4a77-ab27-70a601e8c75d > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-ff5b2913-59cd-47b2-a9e1-a7897773c429 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-41-ff5b2913-59cd-47b2-a9e1-a7897773c429 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-067f3591-039b-40c1-bdc7-265641b23527 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-41-067f3591-039b-40c1-bdc7-265641b23527 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-2733960f-acd9-4886-8f98-5d54d3ff45b9 > .cs-widget-sow-editor-base > .global-element {
  background:rgba(0,0,0,0);
  background-position:center center;
  background-size:cover;
}
#panel-41-2733960f-acd9-4886-8f98-5d54d3ff45b9 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-cf87d933-1502-4028-ae3d-c238618306d2 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home04/bg-footer-top-home04.jpg);
  background-position:center center;
  background-size:cover;
}
#panel-41-cf87d933-1502-4028-ae3d-c238618306d2 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-41-f872c5f0-2ee9-4937-ba0b-d691096acc5a > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-41-525d0d31-6800-47cb-a373-3aeb045af068 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-41-ac5790fb-8090-49de-95a1-6d18c679d30d .element-row .column-gap-default .row.row-stack > .column-wrap { padding:10px; }
#panel-41-ac5790fb-8090-49de-95a1-6d18c679d30d .element-row .column-gap-no .row.row-stack > .column-wrap { padding:0; }
#panel-41-ac5790fb-8090-49de-95a1-6d18c679d30d .element-row .column-gap-narrow .row.row-stack > .column-wrap { padding:5px; }
#panel-41-ac5790fb-8090-49de-95a1-6d18c679d30d .element-row .column-gap-extended .row.row-stack > .column-wrap { padding:15px; }
#panel-41-ac5790fb-8090-49de-95a1-6d18c679d30d .element-row .column-gap-wide .row.row-stack > .column-wrap { padding:20px; }
#panel-41-ac5790fb-8090-49de-95a1-6d18c679d30d .element-row .column-gap-wider .row.row-stack > .column-wrap { padding:30px; }
#panel-41-ac5790fb-8090-49de-95a1-6d18c679d30d .element-row.element-row-style-boxed .element-row__content.set-width-yes { max-width:500px; }
#panel-41-ac5790fb-8090-49de-95a1-6d18c679d30d .element-row.element-row-height-min-height { min-height:400px; }
#panel-41-626024b4-fead-4585-af6c-5c96faae1d3a .element-row .column-gap-default .row.row-stack > .column-wrap { padding:10px; }
#panel-41-626024b4-fead-4585-af6c-5c96faae1d3a .element-row .column-gap-no .row.row-stack > .column-wrap { padding:0; }
#panel-41-626024b4-fead-4585-af6c-5c96faae1d3a .element-row .column-gap-narrow .row.row-stack > .column-wrap { padding:5px; }
#panel-41-626024b4-fead-4585-af6c-5c96faae1d3a .element-row .column-gap-extended .row.row-stack > .column-wrap { padding:15px; }
#panel-41-626024b4-fead-4585-af6c-5c96faae1d3a .element-row .column-gap-wide .row.row-stack > .column-wrap { padding:20px; }
#panel-41-626024b4-fead-4585-af6c-5c96faae1d3a .element-row .column-gap-wider .row.row-stack > .column-wrap { padding:30px; }
#panel-41-626024b4-fead-4585-af6c-5c96faae1d3a .element-row.element-row-style-boxed .element-row__content.set-width-yes { max-width:500px; }
#panel-41-626024b4-fead-4585-af6c-5c96faae1d3a .element-row.element-row-height-min-height { min-height:400px; }
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 767px) {
}
@media (min-width: 1025px) {
}
