#panel-64-32cbb41b-1c89-4d3e-a410-ad27f494f8c6 > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 30px 0px;
  background-repeat:repeat;
  border-style:none;
}
#panel-64-32cbb41b-1c89-4d3e-a410-ad27f494f8c6 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-64-3e3e4768-169b-4f46-a835-8c7ccd84d90f > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home17/slide01.jpg);
  background-position:center center;
  background-size:cover;
}
#panel-64-3e3e4768-169b-4f46-a835-8c7ccd84d90f > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-64-ebedf8c2-ef8b-48a5-8398-9f240579e9ab > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home17/slide02.jpg);
  background-position:center center;
  background-size:cover;
}
#panel-64-ebedf8c2-ef8b-48a5-8398-9f240579e9ab > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-64-333281f7-38a8-4a06-9173-520b0fd29ffb > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 10px 0px;
  background-repeat:repeat;
  border-style:none;
}
#panel-64-333281f7-38a8-4a06-9173-520b0fd29ffb > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-64-fd2d83cc-8ef1-4607-8408-34b8d434f159 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-64-fd2d83cc-8ef1-4607-8408-34b8d434f159 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-64-031ab548-2ff9-4bab-b759-cf0c3b0cb837 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-64-031ab548-2ff9-4bab-b759-cf0c3b0cb837 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-64-afba52fa-728f-41ba-b4de-53154ecf7666 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-64-afba52fa-728f-41ba-b4de-53154ecf7666 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-64-4743e306-a877-4f5d-8e3b-ae948be5f6df > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-64-4743e306-a877-4f5d-8e3b-ae948be5f6df > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-64-79323ea4-869e-4294-9014-98f22a3453da > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-64-79323ea4-869e-4294-9014-98f22a3453da > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-64-870a8a57-838c-4b1c-a9ce-1da4d9f0fffd > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-64-870a8a57-838c-4b1c-a9ce-1da4d9f0fffd > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-64-e443e225-d468-430a-80b7-c757a8a102eb > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-64-e443e225-d468-430a-80b7-c757a8a102eb > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-64-e996c776-1d58-4497-af85-fff444486061 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-64-e996c776-1d58-4497-af85-fff444486061 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-64-881d24cf-c9fe-4fda-982b-e11300befce2 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-64-881d24cf-c9fe-4fda-982b-e11300befce2 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-64-f6763bbc-1dc7-4cc4-955b-bff285508324 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-64-f6763bbc-1dc7-4cc4-955b-bff285508324 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-64-f34cb315-e6be-403d-9e34-5b1b6ee3daea > .cs-widget-sow-editor-base > .global-element {
  margin:30px 0px 30px 0px;
  background-repeat:repeat;
}
#panel-64-f34cb315-e6be-403d-9e34-5b1b6ee3daea > .cs-widget-sow-editor-base > .global-element h3 { text-transform:uppercase; }
#panel-64-f34cb315-e6be-403d-9e34-5b1b6ee3daea > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-64-34f481ba-beb9-497a-b3a8-b75ddcfcbb79 > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 30px 0px;
  background-repeat:repeat;
}
#panel-64-34f481ba-beb9-497a-b3a8-b75ddcfcbb79 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-64-63b3d229-4f77-4fcd-b0a7-7c72d540cfcf > .cs-widget-sow-editor-base > .global-element {
  margin:30px 0px 30px 0px;
  background-position:center center;
  background-size:cover;
}
#panel-64-63b3d229-4f77-4fcd-b0a7-7c72d540cfcf > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-64-f62a3763-5c1c-4543-8979-108222814f9f > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-64-d03b7aa5-be4e-45e3-96f6-510cb589a20e > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-64-8c2d2d89-f0a6-4793-b64d-51722c6f13dd > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 40px 0px;
  background-repeat:repeat;
  border-style:none;
}
#panel-64-8c2d2d89-f0a6-4793-b64d-51722c6f13dd > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-64-4743e306-a877-4f5d-8e3b-ae948be5f6df .element-row .column-gap-default .row.row-stack > .column-wrap { padding:10px; }
#panel-64-4743e306-a877-4f5d-8e3b-ae948be5f6df .element-row .column-gap-no .row.row-stack > .column-wrap { padding:0; }
#panel-64-4743e306-a877-4f5d-8e3b-ae948be5f6df .element-row .column-gap-narrow .row.row-stack > .column-wrap { padding:5px; }
#panel-64-4743e306-a877-4f5d-8e3b-ae948be5f6df .element-row .column-gap-extended .row.row-stack > .column-wrap { padding:15px; }
#panel-64-4743e306-a877-4f5d-8e3b-ae948be5f6df .element-row .column-gap-wide .row.row-stack > .column-wrap { padding:20px; }
#panel-64-4743e306-a877-4f5d-8e3b-ae948be5f6df .element-row .column-gap-wider .row.row-stack > .column-wrap { padding:30px; }
#panel-64-4743e306-a877-4f5d-8e3b-ae948be5f6df .element-row.element-row-style-boxed .element-row__content.set-width-yes { max-width:500px; }
#panel-64-4743e306-a877-4f5d-8e3b-ae948be5f6df .element-row.element-row-height-min-height { min-height:400px; }
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 767px) {
}
@media (min-width: 1025px) {
}
