#panel-66-c2750cde-7b2d-4da3-828b-f560105f5ccf > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-c2750cde-7b2d-4da3-828b-f560105f5ccf > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-64160bed-c794-4fdc-9826-1cd08ea91529 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-36ea69b0-248a-4867-b4c1-a7ed49e6f92d > .cs-widget-sow-editor-base > .global-element {
  padding:5px 40px 5px 40px;
  background:#9f0146;
  background-repeat:repeat;
  border-style:none;
  border-radius:40px 40px 40px 40px;
}
#panel-66-36ea69b0-248a-4867-b4c1-a7ed49e6f92d > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
  background:#2d2d2d;
}
#panel-66-eb0a5526-366e-42d0-b961-e30be14f8c63 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-eb0a5526-366e-42d0-b961-e30be14f8c63 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-2ac466ac-5e88-418a-8ce5-25d885319813 > .cs-widget-sow-editor-base > .global-element {
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home18/slide01.jpg);
  background-position:center center;
  background-size:cover;
}
#panel-66-2ac466ac-5e88-418a-8ce5-25d885319813 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-66-fba09c95-9114-4e1b-8a3d-0bbed1ce3c38 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-41e14a5f-f364-46f5-ae31-a7cf6a121b92 > .cs-widget-sow-editor-base > .global-element {
  padding:5px 40px 5px 40px;
  background:#9f0146;
  background-repeat:repeat;
  border-style:none;
  border-radius:40px 40px 40px 40px;
}
#panel-66-41e14a5f-f364-46f5-ae31-a7cf6a121b92 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
  background:#2d2d2d;
}
#panel-66-bfc13e29-dc52-48f6-b834-7fca2391f307 > .cs-widget-sow-editor-base > .global-element {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-bfc13e29-dc52-48f6-b834-7fca2391f307 > .cs-widget-sow-editor-base > .global-element:hover {
  background-repeat:repeat;
  border-style:none;
}
#panel-66-3a578914-408c-45a4-a059-2ce0bdba30f9 > .cs-widget-sow-editor-base > .global-element {
  padding:0px 10px 0px 10px;
  background-image:url(http://novetty.mages4.zooextension.com/media/wysiwyg/images/home18/slide02.jpg);
  background-position:center center;
  background-size:cover;
}
#panel-66-3a578914-408c-45a4-a059-2ce0bdba30f9 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-66-d0c8ade1-4622-4ac2-acb3-13e83c19f399 > .cs-widget-sow-editor-base > .global-element {
  background:#fffcf3;
  background-repeat:repeat;
}
#panel-66-d0c8ade1-4622-4ac2-acb3-13e83c19f399 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-66-31ae937a-77b7-43b0-8e86-0aba9e1cc019 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-31ae937a-77b7-43b0-8e86-0aba9e1cc019 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-66-4c14e26c-024a-43f6-8e9d-0293e4449de5 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-b9d96bb8-cd25-4f36-9e41-b3f332971885 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-b9d96bb8-cd25-4f36-9e41-b3f332971885 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-66-d63c019f-0010-4ea4-a02e-e00f6a10d3cb > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-d63c019f-0010-4ea4-a02e-e00f6a10d3cb > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-66-e4fe6a5e-01fd-40c2-ab26-50e3bf998d66 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-66-e4fe6a5e-01fd-40c2-ab26-50e3bf998d66 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-66-42233bb1-224d-4e0b-92aa-c19f987ba3c7 > .cs-widget-sow-editor-base > .global-element {
  margin:30px 0px 20px 0px;
  background-position:center center;
  background-size:cover;
}
#panel-66-42233bb1-224d-4e0b-92aa-c19f987ba3c7 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-66-78d5c44a-7027-4396-8f2f-5dc4fa55831c > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 30px 0px;
  background-position:center center;
  background-size:cover;
}
#panel-66-78d5c44a-7027-4396-8f2f-5dc4fa55831c > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-66-11e88981-94a1-4d4a-8d7d-a3c5cdee9343 > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 30px 0px;
  background-position:center center;
  background-size:cover;
}
#panel-66-11e88981-94a1-4d4a-8d7d-a3c5cdee9343 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-66-20b4015f-d6d1-455f-99c7-f1b5719639d5 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-66-20b4015f-d6d1-455f-99c7-f1b5719639d5 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-66-11e88981-94a1-4d4a-8d7d-a3c5cdee9343 > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 30px 0px;
  background-position:center center;
  background-size:cover;
}
#panel-66-11e88981-94a1-4d4a-8d7d-a3c5cdee9343 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-66-20b4015f-d6d1-455f-99c7-f1b5719639d5 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-66-20b4015f-d6d1-455f-99c7-f1b5719639d5 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-66-11e88981-94a1-4d4a-8d7d-a3c5cdee9343 > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 30px 0px;
  background-position:center center;
  background-size:cover;
}
#panel-66-11e88981-94a1-4d4a-8d7d-a3c5cdee9343 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-66-20b4015f-d6d1-455f-99c7-f1b5719639d5 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-66-20b4015f-d6d1-455f-99c7-f1b5719639d5 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-66-2fff7a4d-2ae9-4889-8e9f-2e862bfe4793 > .cs-widget-sow-editor-base > .global-element {
  background-position:center center;
  background-size:cover;
}
#panel-66-2fff7a4d-2ae9-4889-8e9f-2e862bfe4793 > .cs-widget-sow-editor-base > .global-element:hover {
  background-position:center center;
  background-size:cover;
}
#panel-66-c76c59d3-ab2e-4c6c-b6f2-cf2a2884b5fc > .cs-widget-sow-editor-base > .global-element {
  margin:50px 0px 10px 0px;
  background-repeat:repeat;
}
#panel-66-c76c59d3-ab2e-4c6c-b6f2-cf2a2884b5fc > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-66-6d249b39-b10e-4146-9c5b-eba901e98675 > .cs-widget-sow-editor-base > .global-element {
  margin:0px 0px 50px 0px;
  background-repeat:repeat;
}
#panel-66-6d249b39-b10e-4146-9c5b-eba901e98675 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-66-9cc5a4a2-2efe-4627-8ce9-b778bcc934e8 > .cs-widget-sow-editor-base > .global-element { background-repeat:repeat; }
#panel-66-9cc5a4a2-2efe-4627-8ce9-b778bcc934e8 > .cs-widget-sow-editor-base > .global-element:hover { background-repeat:repeat; }
#panel-66-e4fe6a5e-01fd-40c2-ab26-50e3bf998d66 .element-row .column-gap-default .row.row-stack > .column-wrap { padding:10px; }
#panel-66-e4fe6a5e-01fd-40c2-ab26-50e3bf998d66 .element-row .column-gap-no .row.row-stack > .column-wrap { padding:0; }
#panel-66-e4fe6a5e-01fd-40c2-ab26-50e3bf998d66 .element-row .column-gap-narrow .row.row-stack > .column-wrap { padding:5px; }
#panel-66-e4fe6a5e-01fd-40c2-ab26-50e3bf998d66 .element-row .column-gap-extended .row.row-stack > .column-wrap { padding:15px; }
#panel-66-e4fe6a5e-01fd-40c2-ab26-50e3bf998d66 .element-row .column-gap-wide .row.row-stack > .column-wrap { padding:20px; }
#panel-66-e4fe6a5e-01fd-40c2-ab26-50e3bf998d66 .element-row .column-gap-wider .row.row-stack > .column-wrap { padding:30px; }
#panel-66-e4fe6a5e-01fd-40c2-ab26-50e3bf998d66 .element-row.element-row-style-boxed .element-row__content.set-width-yes { max-width:500px; }
#panel-66-e4fe6a5e-01fd-40c2-ab26-50e3bf998d66 .element-row.element-row-height-min-height { min-height:400px; }
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 767px) {
}
@media (min-width: 1025px) {
}
